<div class="header-link">
    <a id="login_link" href="/login?<?php if (isset($data['retpath'])) echo 'retpath=' . urlencode($data['retpath']); if (isset($data['backpath'])) echo '&backpath=' . urlencode($data['backpath']); ?>" class="header-link__remember">
        Уже есть аккаунт
    </a>
    <div class="logo">
        <div class="logo__img"><img src="/image/preview_logo.png"></div>
    </div>
</div>
<div class="info">
    <div class="info__desc">Регистрация нового аккаунта</div>
</div>
<form method="post">
    <div class="inputs">
        <div class="login__input<?php if (!empty($data['err']) && empty($data['login'])) echo 'wrong__input'; ?>">
            <input id="input_login" name="login" type="text" value="<?php if (isset($data['login'])) echo $data['login']; ?>" required maxlength="32" pattern="[0-9A-Za-z_-]{4,32}">
            <label for="input_login">Придумайте логин</label>
            <div class="login__input__message"></div>
        </div>
        <div class="login__input">
            <div class="login__input__eye"></div>
            <input id="input_pass1" name="pass1" type="password" required>
            <label for="input_pass1">Придумайте пароль</label>
        </div>
        <div class="login__input">
            <div class="login__input__eye"></div>
            <input id="input_pass2" name="pass2" type="password" required>
            <label for="input_pass2">Повторите пароль</label>
            <div class="login__input__message"></div>
        </div>
        <div class="login__button">
            <button id="register_button" type="submit">Зарегистрироваться</button>
        </div>
    </div>
</form>