<div class="center__left">
    <div class="center__left__block">
        <div class="page__header">
            <h1>Панель администратора библиотеки Либрару</h1>
            <div class="page__header__back">
                <a href="/">&lt; На главную</a>
            </div>
        </div>
        <div class="page__header">
            <ul style="margin-left:20px;">
                <li><a href="/admin/createBook">Создать книгу</a></li>
                <li><a href="/admin/createAuthor">Создать автора</a></li>
                <li><a href="/admin/createPublisher">Создать издателя</a></li>
                <li><a href="/admin/createCategory">Создать категорию</a></li>
                <li><a href="/admin/userList">Список пользователей</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="center__right">
    <div class="center__right__block">
        <div class="right__block__header">Информация</div>
        <ul>
            <li>Исходный код: <a href="https://github.com/VolgaIgor/library">GitHub</a></li>
            <li>Автор: Шувалов Игорь, 2020</li>
        </ul>
    </div>
</div>