<div class="center__left">
    <div class="center__left__block">
        <div class="page__header">
            <h1>Добро пожаловать в библиотеку Либрару</h1>
            <div class="page__header__back">Зачем бы вы сюда не зашли</div>
        </div>
        <div class="page__header">
            У нас есть крутые <a href="/bookList">книги</a>, различной <a href="/categoryList">редкости</a>, написанные известными <a href="/authorList">авторами</a> и изданные крупными <a href="/publisherList">издателями</a>.<br><br>
            Можете начать <a href="/search">искать</a> их прямо сейчас.<br><br>
            А чтобы арендовать книги <a href="/login">войдите</a> или <a href="/register">зарегистрируйтесь</a>.
        </div>
    </div>
</div>
<div class="center__right">
    <div class="center__right__block">
        <div class="right__block__header">Информация</div>
        <ul>
            <li>Исходный код: <a href="https://github.com/VolgaIgor/library">GitHub</a></li>
            <li>Автор: Шувалов Игорь, 2020</li>
        </ul>
    </div>
</div>